body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--alt-title-cl);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: var(--blc-clr-txt);
}

p {
  margin-top: 0;
}

ul {
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  align-items: center;
  display: flex;
}

.navigation__site-nav {
  padding-left: 0;
  display: flex;
}

.navigation__link {
  margin: 0;
}

.navigation__list--hero::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--main-blu-tx);
  border-radius: 2px;
  display: block;
  position: absolute;
  top: 96%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__site-nav .navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
}

.navigation__site-nav
.navigation__link
+ .navigation__link
+ .navigation__link {
  margin-right: 0;
}

.spisok {
  padding: 0;
  margin-left: auto;
  display: flex;
}

.spisok__item {
  display: block;
  margin-right: 50px;
}

.spisok__item:last-child {
  margin-right: 0;
}

.spisok__mobile {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  align-items: center;
  letter-spacing: 0.02em;
  color: var(--title-cl);
}

.spisok__mobile:hover, .spisok__mobile:active, .spisok__mobile:focus {
  color: var(--main-blu-tx);
}

.spisok__icons {
  margin-right: 10px;
  fill: currentColor;
}

.content {
  padding-top: 94px;
  padding-bottom: 94px;
}

.inform__item {
  justify-content: space-between;
  display: flex;
  padding-left: 0;
}

.inform__list {
  max-width: 270px;
}

.inform__list + .inform__list + .inform__list + .inform__list {
  margin-right: 0;
}

.socials {
  background-color: var(--sctn-ftr);
  border-radius: 4px;
  display: flex;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
}

.socials__icon:nth-child(1) {
  width: 70px;
  height: 70px;
}

.socials__icon:nth-child(2) {
  width: 70px;
  height: 70px;
}

.socials__icon:nth-child(3) {
  width: 70px;
  height: 54px;
}

.socials__icon:nth-child(4) {
  width: 70px;
  height: 70px;
}

.inform__subject {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--blc-clr-txt);
}

.inform__text {
  margin-bottom: 0;
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--title-cl);
}

.page {
  background-color: var(--alt-title-cl);
}

.page__caption {
  margin-bottom: 0;
  font-size: 36px;
  line-height: 1.2;
  color: var(--blc-clr-txt);
}

.page__title--text {
  margin-bottom: 50px;
}

.page__set {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.page__team--cursset {
  padding: 0;
}

.page__time {
  margin-left: 30px;
  margin-top: 30px;
}

.page__time--list {
  position: relative;
}

.page__tem--item {
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.page-team {
  text-align: center;
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: var(--sctn-ftr);
}

.page__captions {
  margin: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.2;
}

.holder__list {
  padding: 0;
}

.holder__gallery--item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.divace {
  background-color: var(--alt-title-cl);
  padding: 30px;
}

.divace__subject {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--blc-clr-txt);
}

.divace__item {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-cl);
}

.divace__social {
  display: inline-flex;
  padding: 0;
}

.divace__social-icons:not(:last-child) {
  margin-right: 10px;
}

.divace__social-link {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.divace__social-link:hover, .divace__social-link:focus {
  background-color: var(--main-blu-tx);
  color: var(--alt-title-cl);
}

.divace__link--features {
  color: var(--alt-title-cl);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.divace__icons-svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.section-page-tour {
  background-color: var(--alt-title-cl);
}

.company__benefits {
  flex-wrap: wrap;
  display: flex;
  padding-left: 0;
}

.company__features {
  flex-basis: calc((100% - var(--page__set-gap) * 6) / 6);
}

.company__features:not(:last-child) {
  margin-right: 30px;
}

.company__clients {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}

.company__clients:hover, .company__clients:focus {
  border-color: var(--main-blu-tx);
}

.company__clients:hover .company__svg,
.company__clients:focus .company__svg {
  fill: var(--main-blu-tx);
}

.company__svg {
  height: inherit;
  fill: var(--primary-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company__svg:hover, .company__svg:focus {
  fill: var(--main-blu-tx);
}

.main-two {
  background-color: var(--alt-title-cl);
}

.section-item {
  padding-top: 94px;
  padding-bottom: 94px;
}

.cursset__menu {
  padding-left: 0;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.cursset__menu .cursset__listen {
  margin-right: 8px;
}

.cursset__menu .cursset__listen:last-child {
  margin-right: 0px;
}

.button {
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--blc-clr-txt);
  background-color: var(--sctn-ftr);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  font-family: inherit;
}

.button:hover, .button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--alt-title-cl);
  background-color: var(--main-blu-tx);
}

.butt {
  background-color: var(--main-blu-tx);
  color: var(--alt-title-cl);
}

.items {
  margin-left: 30px;
  margin-top: 30px;
}

.spisok__itemnk-stylle {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.spisok__itemnk-stylle:hover .portfoll,
.spisok__itemnk-stylle:focus .portfoll {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.navi-items__portfolio {
  margin-right: 0;
}

.navi-items {
  overflow: hidden;
  display: block;
  position: relative;
}

.navi-items__portfolio {
  overflow: hidden;
}

.navi-items__modal {
  opacity: 0;
  position: absolute;
  margin: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: white;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.spisok__itemnk-stylle:hover .navi-items__modal,
.spisok__itemnk-stylle:focus .navi-items__modal {
  opacity: 1;
  transform: translateY(0%);
}

.navi-items__modal:hover {
  overflow: hidden;
  opacity: 1;
}

.portfoll {
  padding: 20px 24px;
  background: var(--alt-title-cl);
  border: 1px solid var(--color-pkp);
}

.portfoll__txt {
  margin: 0;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--blc-clr-txt);
}

.portfoll__abzats {
  margin: 0;
  font-size: 16px;
  line-height: 1.9;
  color: var(--title-cl);
}

.managger {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  margin: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.managger__text {
  position: absolute;
  color: var(--alt-title-cl);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
}

.messengers {
  display: inline-block;
}

.messengers__footer {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.1;
  color: var(--alt-title-cl);
}

.forma {
  display: inline-block;
  margin-left: auto;
  position: relative;
}

.forma__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  color: var(--alt-title-cl);
  background-color: var(--dark-bg);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.forma__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  width: 200px;
  height: 50px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: var(--main-blu-tx);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  text-align: inherit;
  padding-left: 29px;
}

.forma__button:hover, .forma__button:focus {
  background-color: var(--blue-prim-col);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.forma__icon {
  width: 24px;
  height: 24px;
  top: 50%;
  right: 28px;
  display: block;
  transform: translateY(15%);
  position: absolute;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--alt-title-cl);
  width: 530px;
  height: 580px;
  padding: 40px;
}

.modal__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--alt-title-cl);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover, .modal__close-btn:focus {
  color: var(--main-blu-tx);
  border-color: var(--main-blu-tx);
}

.modal__icons {
  fill: currentColor;
  display: block;
  height: 11px;
  width: 11px;
}

.modal__text {
  margin: 0;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--blc-clr-txt);
}

.modal__form-group {
  position: relative;
  margin-bottom: 10px;
}

.modal__icon {
  position: absolute;
  left: 15px;
  top: 43px;
  display: inline-block;
  transform: translateY(-100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon--one {
  width: 12px;
  height: 12px;
}

.modal__icon--two {
  width: 13px;
  height: 13px;
}

.modal__icon--three {
  width: 15px;
  height: 12px;
}

.modal__next--form {
  margin: 0;
  margin-bottom: 20px;
}

.modal__group--input::placeholder {
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__icon:checked {
  margin-left: 20px;
}

.modal__inspection--form {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--title-cl);
}

.modal__group--input:hover ~ .modal__inspection--form,
.modal__group--input:focus ~ .modal__inspection--form,
.modal__group--input:not(:placeholder-shown) + .modal__inspection--form {
  transform: translateY(-24px);
  left: 0;
}

.text-time {
  display: block;
  margin-bottom: 4px;
}

.checkbox-icon {
  cursor: pointer;
  margin-right: 7px;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid var(--blc-clr-txt);
  border-radius: 4px;
}

.checkbox-icon:hover {
  border-color: var(--main-blu-tx);
}

.checkbox:checked + .checkbox-icon {
  border-color: var(--main-blu-tx);
  background-color: var(--main-blu-tx);
  background-image: url(../images/icons/checkbox.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.checkbox:focus + .checkbox-icon {
  border-color: var(--main-blu-tx);
}

.modal__group--input {
  display: block;
  outline: none;
  height: 40px;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
}

.modal__group--input:hover ~ .modal__icon,
.modal__group--input:focus ~ .modal__icon {
  fill: var(--main-blu-tx);
}

.modal__group--input:hover, .modal__group--input:focus {
  border: 1px solid var(--main-blu-tx);
}

.modal__area {
  padding: 12px 16px;
  height: 120px;
  resize: none;
  margin-bottom: 0;
}

.next-modal__preview {
  display: flex;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-cl);
  align-items: center;
}

.next-modal {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-modal .checkbox {
  position: absolute;
  width: 0;
  height: 0;
  border: 0;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.next-modal__link {
  text-decoration: underline;
  color: var(--main-blu-tx);
  margin-left: 3px;
}

.next-modal__button {
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  background-color: var(--main-blu-tx);
  color: var(--alt-title-cl);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: inherit;
}

.next-modal__button:hover {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--blue-prim-col);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.header {
  border-bottom: 1px solid var(--clorc-picter);
  background-color: var(--alt-title-cl);
}

.navigation__nav {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--blc-clr-txt);
}

.navigation__nav:hover, .navigation__nav:focus {
  color: var(--main-blu-tx);
}

.list {
  color: var(--main-blu-tx);
}

.basement .logo {
  margin-right: 0;
  display: inline-block;
}

.basement .container {
  display: flex;
  align-items: baseline;
}

.additionally__logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--main-blu-tx);
}

.lg {
  color: var(--blc-clr-txt);
}

.basement {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--dark-bg);
}

.additionally {
  display: inline-block;
  max-width: 231px;
  margin-right: 70px;
}

.logotype {
  padding: 0;
  margin-bottom: 20px;
}

.lp {
  color: var(--serv-bg);
}

.find__list {
  padding: 0;
}

.find__item:not(:last-child) {
  margin-bottom: 9px;
}

.find__adress {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--alt-title-cl);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.find__adress:hover, .find__adress:focus {
  color: var(--main-blu-tx);
}

.find__end {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.find__end:hover, .find__end:focus {
  color: var(--main-blu-tx);
}

.find__link--footer {
  display: inline-block;
}

.find__link--footer:hover, .find__link--footer:focus {
  color: var(--main-blu-tx);
}

.box {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/imghero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--dark-bg);
}

.main__title {
  text-align: center;
  max-width: 696px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--alt-title-cl);
}

.main__buttons {
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  background-color: var(--main-blu-tx);
  color: var(--alt-title-cl);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: inherit;
}

.main__buttons:hover, .main__buttons:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--blue-prim-col);
}

.section {
  text-align: center;
  padding-bottom: 94px;
}

:root {
  --main-blu-tx: #2196f3;
  --blc-clr-txt: #212121;
  --title-cl: #757575;
  --alt-title-cl: #ffffff;
  --dark-bg: #2f303a;
  --serv-bg: #e5e5e5;
  --sctn-ftr: #f5f4fa;
  --color-pkp: #eeeeee;
  --clorc-picter: #ececec;
  --primary-color: #afb1b8;
  --blue-prim-col: #188ce8;
}
/*# sourceMappingURL=main.css.map */