.section-page-tour {
  background-color: var(--alt-title-cl);
}
.company__benefits {
  flex-wrap: wrap;
  display: flex;
  padding-left: 0;

  @media screen and (max-width: 479px) {
    padding-left: 0;
    justify-content: center;
  }

  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.company__features {
  flex-basis: calc((100% - var(--page__set-gap) * 6) / 6);

  @media screen and (min-width: 480px) {
    margin: 15px;
    flex-basis: calc((100% - 15px * 4) / 2);
  }

  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - 15px * 6) / 3);
  }

  @media screen and (min-width: 1200px) {
    margin: 15px;
    flex-basis: calc((100% - 15px * 12) / 6);
  }
}
// .company__features:not(:last-child) {
//   margin-right: 30px;
// }
.company__clients {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;

  &:hover,
  &:focus {
    border-color: var(--main-blu-tx);
  }

  &:hover .company__svg,
  &:focus .company__svg {
    fill: var(--main-blu-tx);
  }

  @media screen and (min-width: 480px) {
    width: 210px;
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.company__svg {
  height: inherit;
  fill: var(--primary-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--main-blu-tx);
  }
}
