body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--alt-title-cl);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: var(--blc-clr-txt);
}
p {
  margin-top: 0;
}

ul {
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
