.spisok {
  display: none;

  @media screen and (min-width: 768px) {
    flex-direction: column;
    margin-left: auto;
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.spisok__item {
  display: block;
  margin-right: 50px;

  @media screen and (min-width: 768px) {
    margin-right: 0;

    &:last-child {
      margin-right: 0;
      margin-top: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-right: 30px;

    &:last-child {
      margin-top: 0;
    }
  }
}

.spisok__mobile {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  align-items: center;
  letter-spacing: 0.02em;
  color: var(--title-cl);

  &:hover,
  &:active,
  &:focus {
    color: var(--main-blu-tx);
  }

  @media screen and (max-width: 1200px) {
    padding: 0;
  }
}

.spisok__icons {
  margin-right: 10px;
  fill: currentColor;
}
