.basement .logo {
  margin-right: 0;
  display: inline-block;
}
.basement .container {
  display: flex;
  align-items: baseline;

  @media screen and (max-width: 480px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @media screen and (min-width: 480px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}
.additionally__logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--main-blu-tx);

  @media screen and (max-width: 480px) {
    margin-right: 0;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (min-width: 480px) {
    margin-right: 0;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.lg {
  color: var(--blc-clr-txt);
}
.basement {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--dark-bg);

  @media screen and (max-width: 479px) {
    width: max-content;
  }
}

.socie-life {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.additionally {
  display: inline-block;
  max-width: 231px;
  margin-right: 70px;

  @media screen and (max-width: 480px) {
    margin-right: 0;
  }

  @media screen and (min-width: 480px) {
    margin-right: 0;
  }

  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    text-align: left;
    width: 231px;
  }
}
.logotype {
  padding: 0;
  margin-bottom: 20px;
}
.lp {
  color: var(--serv-bg);
}
.find__list {
  padding: 0;

  @media screen and (max-width: 480px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 480px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.find__item:not(:last-child) {
  margin-bottom: 9px;

  @media screen and (max-width: 480px) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: 480px) {
    margin-bottom: 8px;
  }
}
.find__adress {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--alt-title-cl);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--main-blu-tx);
  }
}

.find__end {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--main-blu-tx);
  }
}

.find__link--footer {
  display: inline-block;

  &:hover,
  &:focus {
    color: var(--main-blu-tx);
  }
}
