.inform__item {
  justify-content: space-between;
  display: flex;
  padding-left: 0;

  @media screen and (max-width: 479px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 480px) {
    display: flex;
    flex-direction: column;
    margin-right: -15px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: -15px;
  }
}

.inform__list {
  max-width: 270px;

  @media screen and (min-width: 480px) {
    max-width: 100%;
    flex-wrap: wrap;
    margin-right: 15px;
    flex-basis: calc((100% - 1 * 30px) / 1);

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
      margin-right: 15px;
      flex-basis: calc((100% - 2 * 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 4 * 30px) / 4);
    }

    &:nth-child(3) {
      margin-bottom: 0;
    }
  }
}

.socials {
  background-color: var(--sctn-ftr);
  border-radius: 4px;
  display: flex;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.socials__icon:nth-child(1) {
  width: 70px;
  height: 70px;
}
.socials__icon:nth-child(2) {
  width: 70px;
  height: 70px;
}
.socials__icon:nth-child(3) {
  width: 70px;
  height: 54px;
}
.socials__icon:nth-child(4) {
  width: 70px;
  height: 70px;
}
.inform__subject {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--blc-clr-txt);

  @media screen and (min-width: 480px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.inform__text {
  margin-bottom: 0;
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--title-cl);
}
