.mobile-menu {
  padding: 48px 40px;
  overflow-y: scroll;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--alt-title-cl);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  height: 100vh;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    left: 0;

    @media screen and (max-width: 767px) {
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

.flouwer {
  padding: 0;
}

.mobile-menu__site-nav {
  padding: 0;
}

.mobile-menu__link:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__nav {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  color: var(--blc-clr-txt);

  &:hover,
  &:focus {
    color: var(--main-blu-tx);
  }
}

.list {
  color: var(--main-blu-tx);
}

.mobile-block {
  padding-left: 0;
}

.mobile-block__telephone {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-blu-tx);
  margin-bottom: 32px;
}

.mobile-block__email {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--title-cl);
  margin-bottom: 64px;

  &:hover,
  &:focus{
    color: var(--main-blu-tx);
  }
}

.social-time {
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  margin-top: -10px;
  margin-left: -10px;
}

.social-time__list {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}

.social-time__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--main-blu-tx);

  &:hover,
  &:focus{
    color: black;
}
}



.social-time__befor::before {
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-right: 10px;
}

.spisok__menu {
  position: relative;
  margin-left: auto;
  padding-left: 0px;
  z-index: 111;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;

  @media screen and (max-width: 479px) {
    margin: 0;
    
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.spisok__menu .spisok__icon-close {
  display: none;
}

.is-open .spisok__icon-close {
  display: block;
}

.spisok__menu:hover,
.spisok__menu:focus,
 .spisok__menu:active {
  fill: var(--main-blu-tx);
}

.spisok__menu.is-open .spisok__icon-open {
  display: none;
}
.menu__container {
  display: none;
  position: absolute;
}

.spisok__menu .is-open .spisok__icon-close {
  position: fixed;
}

 .is-open .spisok__menu-item{
  position: fixed;
  right: 20px;
  top: 12px;
}