.page {
  background-color: var(--alt-title-cl);
}
.page__caption {
  margin-bottom: 0;
  font-size: 36px;
  line-height: 1.2;
  color: var(--blc-clr-txt);
}
.page__title--text {
  margin-bottom: 50px;
}
.page__set {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.page__team--cursset {
  padding: 0;
}
.page__time {
  margin-left: 30px;
  margin-top: 30px;
}
.page__time--list {
  position: relative;
}
.page__tem--item {
  flex-basis: calc((100% - 3 * 30px) / 3);
}
