.portfoll {
  padding: 20px 24px;
  background: var(--alt-title-cl);
  border: 1px solid var(--color-pkp);
}
.portfoll__txt {
  margin: 0;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--blc-clr-txt);
}
.portfoll__abzats {
  margin: 0;
  font-size: 16px;
  line-height: 1.9;
  color: var(--title-cl);
}
