:root {
  --main-blu-tx: #2196f3;
  --blc-clr-txt: #212121;
  --title-cl: #757575;
  --alt-title-cl: #ffffff;
  --dark-bg: #2f303a;
  --serv-bg: #e5e5e5;
  --sctn-ftr: #f5f4fa;
  --color-pkp: #eeeeee;
  --clorc-picter: #ececec;
  --primary-color: #afb1b8;
  --blue-prim-col: #188ce8;
}
